<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="OPNLib-Timer.ZPM">
    <Module>
      <Name>OPNLib-Timer</Name>
      <Version>1.0.0</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="OPNLib.PKG"/>
      <Resource Name="OPNEx.PKG"/>
    </Module>
  </Document>
</Export>